body {
    background-color: #131a28;
    color: #fff;
    text-align: center;
    font-size: 20px;
    word-wrap: break-word;
}

hr {
    color: #0395de;
}

.navBar {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 25px 0;
    border: 1px solid #0395de;
    padding: 10px;
    border-radius: 25px;
}

.WalletInfo {
    border: 3px solid #0395de;
    border-radius: 25px;
    margin: 10px;
    padding: 10px;
    width: 50%;
}

.divBlocks, .conductTransaction, .TransactionPool {
    border-radius: 25px;
    border: 1px solid #0395de;
    padding: 10px;
}

.divBlocks {
    margin-bottom: 25px;
}

.Blocks, .Block {
    margin-top: 10px;
}

.Blocks {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
}

.Block {
    border: 3px solid #0395de;
    border-radius: 25px;
    padding: 10px;
}

.Block:hover {
    cursor: pointer;
    box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4;
}

button, a {
    background-color: #131a28;
    border: 1px solid #0395de;
    color: #fff;
    padding: 5px 15px;
    border-radius: 25px;
    cursor: pointer;
}

input {
    background-color: #131a28;
    border: 1px solid #0395de;
    color: #fff;
    padding: 5px 15px;
    border-radius: 25px;
    margin: 5px;
}

.conductTransaction, .TransactionPool {
    max-width: 90%;
    width: 100%;
}

.conductTransaction {
    margin-bottom: 25px;
}

.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.right {
    display: flex;
    flex-direction: column;
    max-width: 75%;
    align-items: center;
}

.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
}