body {
    background-color: #131a28;
    color: #fff;
    text-align: center;
    font-size: 20px;
    word-wrap: break-word;
}

.App {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.WalletInfo {
    border: 3px solid #0395de;
    border-radius: 25px;
    margin: 10px;
    padding: 10px;
    width: 50%;
}

.Blocks {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.Block {
    border: 3px solid #0395de;
    border-radius: 25px;
    margin: 10px;
    padding: 10px;
}

.Transaction {
    padding: 5%;
}

button, a {
    background-color: #131a28;
    border: 1px solid #0395de;
    color: #fff;
    padding: 5px 15px;
    border-radius: 25px;
    cursor: pointer;
}